# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# PyTorch
*.pth
*.ckpt
lightning_logs/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
bin/
serving/model_path.txt
test_sim.py

# Kubernetes
*.kubeconfig
